<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonBack_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,167},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>ButtonCredits_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,33},{14,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,38}}</string>
                <key>sourceSize</key>
                <string>{14,38}</string>
            </dict>
            <key>ButtonLevel_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,274},{76,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,120}}</string>
                <key>sourceSize</key>
                <string>{76,120}</string>
            </dict>
            <key>ButtonLevel_mc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,274},{76,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,120}}</string>
                <key>sourceSize</key>
                <string>{76,120}</string>
            </dict>
            <key>ButtonMoreGames_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,33},{110,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>ButtonMusic_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,167},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>ButtonMusic_mc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,167},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>ButtonPlay_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,167},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>ButtonWalk_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,274},{76,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,114}}</string>
                <key>sourceSize</key>
                <string>{76,114}</string>
            </dict>
            <key>Finger_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,274},{130,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,141}}</string>
                <key>sourceSize</key>
                <string>{130,141}</string>
            </dict>
            <key>Finger_mc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,274},{167,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,174}}</string>
                <key>sourceSize</key>
                <string>{167,174}</string>
            </dict>
            <key>FrameDialogBase_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,449},{526,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,306}}</string>
                <key>sourceSize</key>
                <string>{526,306}</string>
            </dict>
            <key>LevelMenuStar_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>LevelMenuStar_mc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>LevelMenuStar_mc_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,1},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>LevelSelectButton_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,167},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>LevelSelectButton_mc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,167},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>MainMenuBack_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,756},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>MainMenuButton_1_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,274},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>MainMenuTitle_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,449},{543,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,260}}</string>
                <key>sourceSize</key>
                <string>{543,260}</string>
            </dict>
            <key>allField_1_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,756},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>buttonBase_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,167},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>buttonRestart_2_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,274},{88,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,114}}</string>
                <key>sourceSize</key>
                <string>{88,114}</string>
            </dict>
            <key>buttonRestart_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,33},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>buttonStop_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,33},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>buttonUndo_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,33},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>scoreBar_1_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1},{238,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,26}}</string>
                <key>sourceSize</key>
                <string>{238,26}</string>
            </dict>
            <key>scoreBar_2_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1},{238,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,26}}</string>
                <key>sourceSize</key>
                <string>{238,26}</string>
            </dict>
            <key>scoreBar_3_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1},{242,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,30}}</string>
                <key>sourceSize</key>
                <string>{242,30}</string>
            </dict>
            <key>starGameOver_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,274},{146,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,139}}</string>
                <key>sourceSize</key>
                <string>{146,139}</string>
            </dict>
            <key>starGameOver_mc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,274},{146,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,139}}</string>
                <key>sourceSize</key>
                <string>{146,139}</string>
            </dict>
            <key>star_1_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>star_1_mc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>star_2_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1},{46,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,27}}</string>
                <key>sourceSize</key>
                <string>{46,27}</string>
            </dict>
            <key>star_2_mc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1},{46,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,27}}</string>
                <key>sourceSize</key>
                <string>{46,27}</string>
            </dict>
            <key>star_3_mc_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,33},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>star_3_mc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,33},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>tile_a_0_0_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,33},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>tile_a_0_0_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,33},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>tile_a_0_0_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,33},{66,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,31}}</string>
                <key>sourceSize</key>
                <string>{66,31}</string>
            </dict>
            <key>tile_a_0_1_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,33},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>tile_a_0_1_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,167},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_a_0_1_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,167},{31,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,66}}</string>
                <key>sourceSize</key>
                <string>{31,66}</string>
            </dict>
            <key>tile_a_0_1_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,167},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_a_1_0_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,33},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>tile_a_1_0_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,167},{31,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,66}}</string>
                <key>sourceSize</key>
                <string>{31,66}</string>
            </dict>
            <key>tile_a_1_0_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_a_1_0_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_a_1_1_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,33},{66,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,31}}</string>
                <key>sourceSize</key>
                <string>{66,31}</string>
            </dict>
            <key>tile_a_1_1_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,167},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_a_1_1_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,167},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_a_1_1_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,167},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_b_0_0_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,33},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>tile_b_0_0_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,33},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>tile_b_0_0_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,33},{66,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,31}}</string>
                <key>sourceSize</key>
                <string>{66,31}</string>
            </dict>
            <key>tile_b_0_1_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,33},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>tile_b_0_1_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,167},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_b_0_1_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,167},{31,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,66}}</string>
                <key>sourceSize</key>
                <string>{31,66}</string>
            </dict>
            <key>tile_b_0_1_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,167},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_b_1_0_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,33},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>tile_b_1_0_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,167},{31,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,66}}</string>
                <key>sourceSize</key>
                <string>{31,66}</string>
            </dict>
            <key>tile_b_1_0_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,167},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_b_1_0_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_b_1_1_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1},{66,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,31}}</string>
                <key>sourceSize</key>
                <string>{66,31}</string>
            </dict>
            <key>tile_b_1_1_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_b_1_1_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_b_1_1_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_black_0_0_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tile_black_0_0_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tile_black_0_0_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>tile_black_0_1_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tile_black_0_1_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_black_0_1_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,100},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,66}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>tile_black_0_1_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_black_1_0_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tile_black_1_0_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,100},{30,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>tile_black_1_0_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_black_1_0_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,33},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_black_1_1_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>tile_black_1_1_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_black_1_1_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_black_1_1_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_c_0_0_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,33},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>tile_c_0_0_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,33},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>tile_c_0_0_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,33},{66,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,31}}</string>
                <key>sourceSize</key>
                <string>{66,31}</string>
            </dict>
            <key>tile_c_0_1_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,33},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>tile_c_0_1_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_c_0_1_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,100},{31,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,66}}</string>
                <key>sourceSize</key>
                <string>{31,66}</string>
            </dict>
            <key>tile_c_0_1_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_c_1_0_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,33},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>tile_c_1_0_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,100},{31,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,66}}</string>
                <key>sourceSize</key>
                <string>{31,66}</string>
            </dict>
            <key>tile_c_1_0_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,33},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_c_1_0_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,33},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_c_1_1_0_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,33},{66,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,31}}</string>
                <key>sourceSize</key>
                <string>{66,31}</string>
            </dict>
            <key>tile_c_1_1_0_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_c_1_1_1_0_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tile_c_1_1_1_1_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,100},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BlockGame.png</string>
            <key>size</key>
            <string>{1283,1717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25f7f330f1617c7c3f90d14d8e679314:d4d6ac98d95f70ccf75260f0f200d427:55f0fdaeac5c7fa6f579c6822d1c0202$</string>
            <key>textureFileName</key>
            <string>BlockGame.png</string>
        </dict>
    </dict>
</plist>
